<footer class="bg-gray">
    <div class="wrap">
        <div class="row pt-3">
            <p>Coffee cup administration for CESNET/ICS instance.</p>
            <div class="col-md-6">
                <img src="/static/assets/img/ics_logo.png">
            </div>
            <div class="col-md-6">
                <img src="/static/assets/img/cesnet_logo.png">
            </div>

            <div>
                <p class="copyright">© 2021 | <a href="https://github.com/vyskocilpavel/">Pavel Vyskočil</a></p>
            </div>
        </div>
    </div>
</footer>