<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Coffee Cup Administration - Sign in</title>
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<body>

    <main class="content">
        <div class="wrap">
            <div class="not_authorized_image">
                <img src="static/assets/img/coffee-cup.png">
            </div>
            <h1 class="mt-5 mb-5">Welcome to Coffee Cup Administration</h1>
            <p>Please sign in for continue to application.</p>
            <a class="btn btn-primary width-100 mt-5" href="/login">Sign in</a>
        </div>

        {% include 'includes/footer.html' %}

    </main>

</body>
</html>